<div class="container-xxl bg-black text-light py-5">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
      <div class="col mb-3 col-md-3">
        <h6 class="fw-bold fs-4 text-white "style="font-family: 'Merriweather', serif;">tric</h6>
      </div>
      <div class="col mb-3 col-md-3">

        <ul class="nav flex-column ">
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Help
              Center</a></li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Support</a>
          </li>
        </ul>
      </div>
      <div class="col col-md-3 mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Blog</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Twitter</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Facebook</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Youtube</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Tiktok</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Instagram</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Discord</a>
          </li>
        </ul>
      </div>

      <div class="col mb-3 col-md-3">

        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40-hover link-active link-primary p-0 text-white nav-link-hover link-active link-primary text-decoration-none link-opacity-40">Jobs</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Privacy</a>
          </li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Terms
              OF Services</a></li>
          <li class="nav-item mb-2"><a href="#"
              class="nav-link-hover link-active link-primary text-decoration-none link-opacity-40 p-0 text-white">Associated
              Risk</a></li>

        </ul>
      </div>
    </footer>
  </div>
</div>