{% extends "base.html" %}
{% block content %}
<div class="container-fluid justify-content-center d-flex my-5">
  <div class="row row-cols-12 ">
    <div class="card border-0 bg-light-danger py-5 " style="width:22rem;">
      <form action="" method="get" id="kt_sign_in_form1">
        <div class="col col-12">
          <div class="col-12 text-center">
            <h3 class="fw-bold text-center">tric</h3>
          </div>

          <h6 class="text-center mt-3 text-muted fw-thin">Enter Your Email To Change The Password </h6>

          <div class="col-12">
            <input type="email" placeholder="Email" class="form-control-lg w-100 bg-light border-0 fs-6 mt-3 py-2"
              id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="mb-3 ">
            <button type="submit" id="kt_sign_in_submit"
              class="btn btn-dark btn-xl w-100 px-5 py-2 mt-4  fs-6">Submit</button>
          </div>
          <h6 class="text-center"><a href="{% url 'reset-password' %}"
              class="text-dark link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Reset
              Password</a></h6>
        </div>
      </form>
    </div>
  </div>
 </div>
</body>
{% endblock %}