
  <div class="container-xxl d-flex justify-content-between fixed-top bg-white py-2 border-bottom border-mutted border-1">

    {% if user.is_authenticated %}
    <div class="container-fluid d-flex  justify-content-between align-items-center ">
      <div class="d-flex align-items-center">
        <a href="{% url 'home' %}" class="fw-bold fs-6  text-dark text-decoration-none"style="font-family: 'Merriweather', serif;">tric</a>
        <a href="{% url 'song-dashboard' %}" class="ms-3 pe-1 text-decoration-none link-primary text-dark text-decoration-none ms-3"
          style="font-size:12px">Discover</a>
    
        <a href="{% url 'song-list' %}" class="text-dark ms-3 pe-1 text-decoration-none link-primary " style="font-size:12px">Portfolio</a>
      </div>
      <div class="btn-group ps-5">
       
        <button type="button" class="btn btn-white  border-0 dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"style="outline-none">
          <img src="../media/song-media/images.jpeg" class="rounded-circle " alt=""height="30" width="30">
        </button>
        
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-xxl-start">
         <a href="{% url 'profile' request.user.id  %}"class="text-decoration-none"><li><button class="dropdown-item" type="button"style="font-size:12px">{{request.user}}</button></li></a>

          <li><button class="dropdown-item fw-bold " type="button"style="font-size:12px">{{request.user.email}}</button></li>
           
          <li class="nav-item "><a class="ms-3 text-decoration-none nav-link-hover link-active link-primary text-dark fw-bold"style="font-size:12px" href="{% url 'logout' %}">Sign out</a></li>
        </ul>
      </div>
      {% else %}
      <a href="{% url 'home' %}" class="fw-bold fs-6 py-2  text-dark text-decoration-none mx-2"style="font-family: 'Merriweather', serif;">tric</a>
      <a class="nav-link-hover link-primary ms-auto text-hover-primary  text-dark text-decoration-none py-2" href="{% url 'login' %}" style="font-size:12px">Login</a>

      
        <div class="d-none d-md-block vr ms-4 py-2 h-50 mt-2"></div>
      
      <a class=" d-none d-md-block nav-link-hover py-2  link-primary mx-4 text-hover-primary text-dark text-decoration-none " href="{% url 'signup' %}" style="font-size:12px">Sign Up</a>
    
      {% endif %}
    </div>
  </div>
</div>